<div id="<%= dom_id quest %>">
  <p>
    <strong>Title:</strong>
    <%= quest.title %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= quest.difficulty %>
  </p>

  <p>
    <strong>Reward gold:</strong>
    <%= quest.reward_gold %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= quest.status %>
  </p>

  <p>
    <strong>Assigned at:</strong>
    <%= quest.assigned_at %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= quest.completed_at %>
  </p>

  <p>
    <strong>Hero:</strong>
    <%= quest.hero_id %>
  </p>

</div>
