<%= form_with(model: monster) do |form| %>
  <% if monster.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
        <% monster.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :monster_type, style: "display: block" %>
    <%= form.text_field :monster_type %>
  </div>

  <div>
    <%= form.label :hit_points, style: "display: block" %>
    <%= form.number_field :hit_points %>
  </div>

  <div>
    <%= form.label :attack_power, style: "display: block" %>
    <%= form.number_field :attack_power %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
