<div id="<%= dom_id monster %>">
  <p>
    <strong>Name:</strong>
    <%= monster.name %>
  </p>

  <p>
    <strong>Monster type:</strong>
    <%= monster.monster_type %>
  </p>

  <p>
    <strong>Hit points:</strong>
    <%= monster.hit_points %>
  </p>

  <p>
    <strong>Attack power:</strong>
    <%= monster.attack_power %>
  </p>

</div>
