<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Element:</strong>
    <%= skill.element %>
  </p>

  <p>
    <strong>Mana cost:</strong>
    <%= skill.mana_cost %>
  </p>

  <p>
    <strong>Level required:</strong>
    <%= skill.level_required %>
  </p>

</div>
