<div id="<%= dom_id quest_reward %>">
  <p>
    <strong>Reward type:</strong>
    <%= quest_reward.reward_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= quest_reward.amount %>
  </p>

  <p>
    <strong>Quest:</strong>
    <%= quest_reward.quest_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= quest_reward.item_id %>
  </p>

</div>
