<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Item type:</strong>
    <%= item.item_type %>
  </p>

  <p>
    <strong>Rarity:</strong>
    <%= item.rarity %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= item.value %>
  </p>

  <p>
    <strong>Equipped:</strong>
    <%= item.equipped %>
  </p>

  <p>
    <strong>Hero:</strong>
    <%= item.hero_id %>
  </p>

</div>
