<div id="<%= dom_id hero %>">
  <p>
    <strong>Name:</strong>
    <%= hero.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= hero.level %>
  </p>

  <p>
    <strong>Player class:</strong>
    <%= hero.player_class %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= hero.race %>
  </p>

  <p>
    <strong>Experience points:</strong>
    <%= hero.experience_points %>
  </p>

  <p>
    <strong>Guild:</strong>
    <%= hero.guild_id %>
  </p>

</div>
